<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Petown</h1>
    <p>
      You have successfully sent up to Petown
      your information is: 
    </p>
    <p>
      <%= @customer.shop_name %>
    </p>
    <p>
      To login to the site, just follow this link
    </p>
    <p>Thanks for sending and have a great day!</p>
  </body>
</html>